#version: '3.9'
services:

  database:
    container_name: delivery
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - TZ=GMT+3'
      - PGTZ=GMT+3'
    ports:
      - 127.0.0.1:5444:5432
    volumes:
      - delivery:/var/lib/postgresql/data

  api:
    container_name: delivery_api
    image: backend_delivery
    build:       # Build the Docker image using the Dockerfile in the current directory
      context: .
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - database  # Ensure that the backend service starts after the database service is up and running
    ports:
      - 127.0.0.1:5000:5000  # Forward the container's port 4000 to the host machine's port 4000 for accessing the backend service
    environment:
      - DATABASE_URL=${DATABASE_URL}

volumes:
  delivery:
    external: true
      
  
